@model VIVLIO.MESSAGE

<style src="~/Content/themes/base/css"></style>
<script src="~/bundles/jquery"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Username').autocomplete({
            source: "@Url.Action("userAutoComplete")"
        });
    });
</script>


@{
    ViewBag.Title = "Create";
}



<h2>Composer un Message</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <div class="col-md-10">
                    <input type="text" id="Username" name="RECEIVERID" class="form-control" placeholder="Envoyer à:" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control"  , @placeholder = "Sujet"} })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.MESSAGETEXT, new { htmlAttributes = new { @class = "form-control" , @placeholder = "Message"} })
                @Html.ValidationMessageFor(model => model.MESSAGETEXT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Envoyer" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
