@model VIVLIO.MATIERE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MATIERE</h4>
    <p>
       @if (Model.MATIEREID != 1)
       {
        @Html.ActionLink("Précédent", "Details", new { id = Model.MATIEREID - 1 }) 
        
       }
       @Html.ActionLink("Suivant", "Details", new { id = Model.MATIEREID + 1 })
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SUBJECTMATTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUBJECTMATTER)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MATIEREID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
