@model VIVLIO.Users

@{
    ViewBag.Title = "Details";
}

<h2>Contact User</h2>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollègeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollègeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating_Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating_Client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating_Vendeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating_Vendeur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PICTURE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PICTURE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Details", "Details", new { id = Model.UserID })
    @Html.ActionLink("Back to list","Index","OFFERs")
</p>
